<div class="system-management-wrap">
  <div class="system-management-header">
    <h3>{{ 'motie_asset_ip_manage.title' | translate }}</h3>
    <p>{{ 'motie_asset_ip_manage.text' | translate }}</p>
<!--    <div class="btn-area">
        <button mat-stroked-button><mat-icon>add</mat-icon> {{'buttons.add' | translate }}</button>
      </div>-->
  </div>
  <div class="grid-header">

    <dti-table-dynamic-filter [filterFields]="searchFieldOptions" (action)="searchFilter($event)"></dti-table-dynamic-filter>
    <div class="grid-header-spacer"></div>
    <div class="grid-options">
      <button mat-button matTooltip="{{ 'data_table.auto_size_all' | translate }}" (click)="autoSizeAll()"><mat-icon>view_array</mat-icon></button>
      <button mat-button matTooltip="{{ 'data_table.column_to_fit' | translate }}" (click)="sizeColumnsToFit()"><mat-icon>keyboard_tab</mat-icon></button>
      <button mat-button matTooltip="{{ 'data_table.set_column' | translate }}" (click)="gridSettingView = !gridSettingView"><mat-icon>settings</mat-icon></button>
      <div class="grid-options-settings" [ngClass]="{'active': gridSettingView}">
        <h5>{{ 'data_table.set_column' | translate }}</h5>
        <button mat-button class="close-btn" (click)="gridSettingView = false"><mat-icon>clear</mat-icon></button>
        <ul>
          <li *ngFor="let col of columnDefs; let i = index">
            <mat-checkbox [color]="'primary'" [(ngModel)]="col.colVisible" (change)="setCellVisible(col.field, col.colVisible)">{{col.headerName}}</mat-checkbox>
          </li>
        </ul>
      </div>
      <div class="grid-options-settings-bg" (click)="gridSettingView = false" [ngClass]="{'active': gridSettingView}"></div>

    </div>
  </div>
  <div class="grid-wrap" #gridWrap>
    <ag-grid-angular [ngStyle]="{'height': gridHeight}" class="ag-theme-fresh" [gridOptions]="gridOptions" [columnDefs]="columnDefs" [rowData]="rowData$?.data">
    </ag-grid-angular>
    <div class="loading-wrap" *ngIf="loading"><mat-spinner [diameter]="50"></mat-spinner></div>
  </div>
  <!--<div class="grid-footer">
    <pagination [pager]="pager" [currentPage]="currentPage" [size]="pageSize" [total]="totalCnt" (getList)="getData($event)">
  </pagination>
  </div>-->
</div>
